@font-face{
	font-family: "sukh";
	src: url('../fonts/SukhumvitReg.ttf');
}
@font-face{
	font-family: "sukh-bold";
	src: url('../fonts/SukhumvitSet-Bold.ttf');
}
body {
	font-size: 14px;
}

#main {
    width: 100%;
}

.container {
    margin: auto;
}

code {
    white-space: pre-wrap !important;
}

.font {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.sukh{
	font-family: "sukh";
}
.sukh-bold{
	font-family: "sukh-bold";
}


body {
    font-family: karla, sans-serif, Arial, "Helvetica Neue";
}

#masthead {
    margin: 25px auto;
}

.site-title {
    font-family: "Century Gothic", "Helvetica Neue", Arial, sans-serif;
    padding-top: 15px;
    float: left;
}

.site-title a {
    color: black;
}

.site-title a:hover {
    text-decoration: none;
}

.site-description {
    font-family: "Century Gothic", "Helvetica Neue", Arial, sans-serif;
    font-size: medium;
}

.main_logo {
    max-width: 100%;
}

#social-icons {
    float: right;
    text-align: right;
    margin-top: 20px;
}

.social-icon {
    color: #78757a;
    font-size: 36px;
}

.social-icon:hover {
    color: #2571bd;
}

a:hover .social-icon {
    text-decoration: none;
}

@media screen and (max-width:992px) {
    .site-title,
    .site-description,
    #social-icons {
        text-align: center;
        float: none;
    }
}

a {
    color: #918f93;
}

a:hover,
a:focus,
a:active {
    color: #2571bd;
    text-decoration: none;
}

.affix {
    position: fixed;
    background: #fff;
    left: 0;
}

.nav-wrapper {}

.nav-wrapper .navbar-default {
    margin-top: 5px;
    border: none;
    margin-bottom: 5px;
}

.nav-wrapper ul ul {
    background: #e7e7e7;
    border: none;
}

.nav-wrapper ul ul a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
}

ul.nav ul li.dropdown:hover>ul.dropdown-menu {}

.slider-wrapper {
    margin: auto;
    margin-top: 15px;
    margin-bottom: -50px;
}

.slide-title {
    font-family: "Century Gothic", "Helvetica Neue", "THSarabunNew", Arial, sans-serif;
    color: #ffffff;
}

.nivo-caption {
    max-width: 700px;
    min-width: 200px;
    overflow: hidden;
    top: 50px;
    right: 190px;
    text-align: right;
}

.nivo-html-caption {
    display: none;
}

div.slide-title {
    font-size: 36px;
    font-weight: bold;
    display: block;
}

div.slide-description {
    font-family: "Century Gothic", "Helvetica Neue", "THSarabunNew", Arial, sans-serif;
}

@media screen and (max-width:480px) {
    .slider-wrapper {
        /*max-height:120px;*/
    }
    .nivo-caption {
        top: 20px;
        right: 20px;
        text-align: right;
    }
}

@media screen and (max-width:320px) {
    .slider-wrapper {
        /*max-height:80px;*/
    }
    .nivo-caption {
        top: 10px;
        right: 0px;
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    div.slide-title {
        font-size: 18px;
    }
    div.slide-description {
        font-size: 13px;
    }
}

#content {
    background: none;
    padding-top: 10px;
}

.featured-thumb {
    margin-top: 35px;
    text-align: center;
}

.featured-thumb img {
    box-shadow: 0px 1px 2px #444;
    border-radius: 5px;
}

.archive .entry-title a {
    font-size: 16px;
    color: black;
}

.archive .entry-title a:hover {
    color: #2571bd;
}

.archive .entry-meta {
    font-size: small;
    color: #918f93;
}

.archive .entry-meta .posted-on {
    margin-right: 6px;
}

.featured-image-single {
    text-align: center;
}

.featured-image-single img {
    max-width: 80%;
    border: solid 5px #ffffff;
    box-shadow: 0px 2px 2px #888;
    margin-bottom: 15px;
}

#secondary {
    /*padding-top:20px;*/
}

#secondary ul {
    list-style: none;
    margin-left: 5px;
}

#secondary ul li:before {
    margin-right: 5px;
    content: "\f0da";
    font-family: "FontAwesome";
    color: #918f93;
}

#secondary ul ul {
    margin-left: 15px;
}

#secondary ul ul ul {
    margin-left: 5px;
}

#secondary .widget_recent_entries li:before {
    content: "\f0f6";
}

#secondary .widget_recent_entries li {
    border-bottom: solid 1px #f7f7f7;
    padding: 5px 0px;
}

#secondary .widget_recent_comments li:before {
    content: "\f075";
}

#secondary .widget_recent_comments li {
    border-bottom: solid 1px #f7f7f7;
    padding: 5px 0px;
}

#secondary h1.widget-title {
    font-size: 24px;
}

#secondary .widget_search input[type=submit] {
    display: inline-block;
}

#secondary .widget_search input[type=search] {
    display: block;
/* 	height: 22px;
	font-size: 1.3em; */
}

.pagination {
    margin: 20px 0;
    width: 100%;
    margin-left: -40px;
    clear: both;
}

.pagination ul {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
}

.pagination ul>li {
    display: inline;
}

.pagination ul>li>a {
    color: #f8f8f8;
    transition: all 0.4s ease;
}

.pagination ul>li>a .next {
    float: right;
}

.pagination ul>li>a:hover {
    color: #918f93;
    background: #e3e3e3;
}

.pagination .current {
    background: #e4e2e2;
}

.pagination ul>li>a,
.pagination ul>li>span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fcfcfc;
    border: solid 1px #f1f1f1;
    border-left-width: 0;
    display: inline-block;
    color: #919191;
}

.pagination ul>li:first-child>a,
.pagination ul>li:first-child>span {
    border-left-width: 1px;
}

.pagination ul>li:last-child>a,
.pagination ul>li:last-child>span {
    border-rigth-width: 1px;
}

#colophon {
    background: #f8f8f8;
    padding: 20px 0px;
    border-top: solid 1px #ddd;
    border-bottom: solid 4px #ddd;
}

#footertext {
    float: right;
    text-align: right;
}

article table {}

article table td {
    padding: 5px;
}

article table th {
    padding: 5px;
}

.rp-item {
    display: block;
    clear: both;
    overflow: auto;
    margin-bottom: 5px;
    border-bottom: solid 1px #f7f7f7;
    padding-bottom: 5px;
}

.rp-item:last-child {
    border-bottom: none;
}

.rp-item:before {
    content: none !important;
}

.rp-thumb {
    float: left;
    width: 64px;
    margin-right: -5px;
    margin-top: 3px;
}

.rp-thumb img {
    width: 48px;
    border: solid 2px #eee;
    border-radius: 2px;
}

.rp-thumb rp-title {
    clear: none;
}

.rp-thumb rp-title a {
    display: block;
}

#respond input[type=text] {
    max-width: 450px;
}

#comments ol.comment-list {
    list-style: none;
}

#comments li.comment {
    border: solid 1px #f8f8f8;
    padding: 10px;
    margin-top: 15px;
    list-style: none;
}

#comments .vcard img {
    border: solid 4px #f8f8f8;
    border-radius: 5px;
    margin: 0 10px 10px 0;
}

#comments .comment-metadata {
    font-weight: bold;
}
.sns{
	float: right;
}
@media screen and (max-width:992px) {
    .vcard img {
        width: 100px !important;
        height: auto;
    }
}
.f1{
	font-size: 1em;
}
.f1-2{
	font-size: 1.2em;
}
.f1-4{
	font-size: 1.4em;
}
.f1-5{
	font-size: 1.5em;
}
.f2{
	font-size: 2em;
}
.box-sha-dow{
    border-bottom: 1px solid #fff;
    box-shadow: 1px 1px 2px #9e9999;
    margin-bottom: 20px;
}
.airline-topic{
	display: table;
    height: 185px;
    background: red;
    background: url(../images/bg-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.topic{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.topic h1,.topic h2,.topic a{
	color: #fff;
}
.topic a:hover{
	color: #ddd;
}
.topic a{
	font-size: 1.4em;	
}
.card{
	border: 0;
}
.card-header{
	background: radial-gradient(#78d8d4, #51b0e6); 
	padding-top: 15px;
    border-radius: 10px 10px 0 0 !important;
	box-shadow: 7px 12px 50px #82cada;
}
.card-header h1{
	color: #fff;
}
.card-body{
	background: #fff;
    border: 1px solid #5cbce1;
    border-radius: 10px 10px 10px 10px;
    margin-top: -8px;
	padding: 30px 15px;
}
.card-body ul.nav{
	margin-left: 0;
}
.card-body ul.nav li{
	border-bottom: 1px dashed #59b8e380;
    text-align: center;
    font-size: 1.2em;
	padding: 8px 20px;
	color: #333;
	width: 100%;
}
.card-body ul.nav li i{
    margin-left: 50px !important;
    color: #5cbce1;
	font-size: 1.6em;
}
.card-body ul.nav li span{
    width: 80%;
	float: right;
    display: block;
   /*  margin-left: 135px; */
    text-align: left;
}
[class*="mx-height"]{
	overflow: auto;
}
.mx-height-190{
	max-height: 190px;
}
.box-announce::-webkit-scrollbar {width:15px;height:10px;}
.box-announce::-webkit-scrollbar-track {
    background-color: #51b0e6;
    border: 6px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}
.box-announce::-webkit-scrollbar-thumb {background:linear-gradient(to top right,#fff, #51b0e6); outline:0;border-radius:26px;}
.box-announce::-webkit-scrollbar-track:hover{
	background-color: #51b0e6;
    border: 6px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

.img-air-icon{
	width: 40px;
	margin-left: 20px;
}
.box-bg{
	background: #ebebeb;
    padding: 15px 10px;
    border-radius: 10px;
    height: 185px;
}
.sm-gutters-left {
    margin-left: -7.5px;
	margin-bottom: 7px;
}
.sm-gutters-right{	
    margin-right: -7.5px;
	margin-bottom: 7px;
}
.text-brown{
	color: #63423d;
}
.box-bg p{
	font-size: 1.2em;
}
.org-name{
	font-size: 1em;
    font-family: "sukh",sans-serif;
}
.radius-bottom{
	border-radius: 0 0 10px 10px !important;
}
.announce span{
	font-family: "sukh";
}
.title-header-fight{
	background: #bedfde;
    margin-left: -16px;
    margin-right: -8.5px;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    text-align: left !important;
}
.fight-right{
	margin-right: -16px !important;
    margin-left: -7.5px !important;
}
.mt-minus-65{
	margin-top: -65px;
}
#colophon{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.breadcrumbs{
	display: none;
}
.col-xs-6 p.sukh{
	margin-bottom: 2px;
}
/*
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(1),
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(1) > a.mega-menu-link:hover,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(1) ul {
background: #ffdae6 !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(2), #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(2) > a.mega-menu-link:hover, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(2) ul {
background: #ffe1c7 !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(3), #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(3) > a.mega-menu-link:hover, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(3) ul {
background: #ffebac !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(4), #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(4) > a.mega-menu-link:hover, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(4) ul {
background: #e2f3b3 !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(5), #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(5) > a.mega-menu-link:hover, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(5) ul {
background: #cef5cb !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(6), #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(6) > a.mega-menu-link:hover, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(6) ul {
background: #bcecec !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(7), #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(7) > a.mega-menu-link:hover, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(7) {
background: #d0e4f9 !important;
width: 126px !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(8), #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(8) > a.mega-menu-link:hover, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:nth-child(8) ul {
background: #dfdcf5 !important;
}
*/

/* add bootstrap 4*/
.pl-0, .px-0 {
    padding-left: 0!important;
}
.pr-0, .px-0 {
    padding-right: 0!important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.mt-0, .my-0 {
    margin-top: 0!important;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.w-75 {
    width: 75%!important;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blink {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}









