@media (max-width: 1025px){
	.box-bg{
		height: 320px;
	}
	.title-header-fight{
		margin-right: -16px !important;
	}
	.sm-gutters-right{
		margin-right: -15px !important;
	}
	.fight-right{
		margin-left: -15px !important;
	}
	.sm-gutters-left{
		margin-left: -15px !important;
	}
	.box-bg p{
		font-size: 1.5em;
	}
	#mega-menu-primary > li.mega-menu-item{
		display: table-cell !important;
	}
}
@media (max-width: 768px){
	.container {
		max-width: initial !important;
	}
	.breadcrumbs{
		display: block;
	}
	.m-img-index{
		padding: 0 !important;
		margin: 0;
		margin-left: -10px;
		margin-right: -10px;
	}
	.airline-topic{
		height: 180px;
		width: 100% !important;
	}
	.box-bg{
		height: 250px;
	}
	.box-bg p{
		font-size: 1.2em;
	}
	.footer-address span{
		font-size: .9em;
	}
	div#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-menu-item-type-post_type.mega-menu-item-object-page.mega-menu-item-has-children.mega-align-bottom-left.mega-menu-flyout{
		display: list-item;
		background-color: transparent !important;
	}
	#mega-menu-wrap-primary .mega-menu-toggle+#mega-menu-primary{
		background-color: transparent;
	}
	.m-w-100{
		width: 100% !important;
	}
	.m-ml-minus-10{
		margin-left: -10px;
	}
	.m-mr-minus-10{
		margin-right: -10px;
	}
}
@media(max-width: 567px){
	.box-bg h4{
		font-size: 1.5em;
	}
	.box-bg p{
		font-size: 1em;
	}
	.box-bg{
		height: 165px;
	}
	.topic h2{
		font-size: 1.2em;
	}
	.topic a{
		font-size: 1.1em;
		margin-top: -8px;
		display: block;
	}
	.asterisk{
		font-size: 1.2em;
	}
	.col-xs-6 p.sukh{
		white-space: nowrap;
	}
	.airline-topic{
		height: 120px;
	}
	#secondary {
		text-align: initial !important;
	}
	#site-navigation{
		background: #fff;
		padding-bottom: 0;
	}
	li.fontResizer.ct-font-resizer-element{
		font-size: 1.2em !important;
		width: 45px !important;
	}
	.card-body ul.nav li{
		font-size: 1em;
		height: 60px;
	}
	.card-body ul.nav li i{
		display: none;
	}
	.card-body ul.nav li span{
		width: 100%;
	}
	.txt.f1-5{
		font-size: 1.2em !important;
	}
}/* 
@media (max-width: 480px){
	.mobile-logo{
		left: 0;
		top: 0;
		margin-top: 10px;
	}
} */

@media(max-width: 378px){
	.airline-topic{
		height: 100px;
	}
	.card-header h1{
		font-size: 2em;
	}
}