/**
 * CONTENTS
 *
 * IMPORT
 * Bulma.css............CSS framework base on Flexbox.
 * Fonts.css............Default font family.
 *
 * Global...............Globally-available variables and config.
 *
 * ELEMENT..............Tag of HTML.
 * ATTRIBUTE............Option of tag of HTML.
 *
 * COMPONENTS
 * Header...............The main page header.
 * MENU.................Menu of all page.
 * Youtube..............Youtube responsive
 * Footer...............The main page footer.
 *
 * OBJECTS
 * ID...................Identify of DOM objects.
 * Class................Name of objects.
 *
 * OVERRIDE
 * Override.............Override id or class from default plugin
 *
 * Media Query
 * Larger than mobile...Larger than mobile screen
 * Larger than tablet...Larger than tablet screen
 * Larger than desktop..Larger than desktop screen
 *
 */


/*------------------------------------*\
  #IMPORT
\*------------------------------------*/
@import "../../node_modules/bulma/css/bulma.min.css";
@import "fonts.css";


/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/
.fontDBOzone { font-family: 'db_ozone_x'; }
.allClear { overflow: hidden; clear: both; }
.zero-margin-padding { margin: 0; padding: 0;}
.marpad-bottom-one {
    margin-bottom: 1px !important;
    padding-bottom: 1px !important;
}
.bg-dark-gray { background-color: #4a4a4a; }
.bg-gray { background-color: #a0a0a0; }
.color-dark-gray { color: #4a4a4a; }
.color-gray { color: #a0a0a0; }
.is-fullwidth, .width100 { width: 100%; }
.float-left { float: left;}
.width10 { width: 10%; }
.width15 { width: 15%; }
.width20 { width: 20%; }
.width40 { width: 40%; }
.width50 { width: 50%; }
.width60 { width: 60%; }
.width70 { width: 70%; }
.width80 { width: 80%; }
.width90 { width: 90%; }
.width200 { width: 150px; }
.width-200 { width: calc(100% - 150px); }

/*------------------------------------*\
  #ELEMENT
\*------------------------------------*/
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'db_ozone_x';
}
dl, dt { margin: 0; }


/*------------------------------------*\
  #COMPONENT
\*------------------------------------*/
/* Youtube */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 30px; /* size of chrome */
  height: 0; 
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container #overlay,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#overlay {
  background:#000;
  opacity:0.5;
  /*background:rgba(255,255,255,0.8); or just this*/
  z-index:50;
  color:#fff;
}


/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/
#info-akita, #info-aomori, #info-fukushima, #info-iwate, #info-miyagi, #info-yamagata {
    background-image: url('../images/bg_jp_map.png');
    background-position: right top;
    background-repeat: no-repeat;
}
#gmap {
    width: 100%;
    height: 460px;
}
.herobanner-bar {
    height: 55px;
    line-height: 55px;
}
.herobanner-bar-social { margin: 0 0.25em; }
.herobanner-bar-social dt { padding: 0 0.125em; }
.vMiddle { vertical-align: middle; }
.location-vdo {
    margin: 2px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.vdo-youtube { padding: 20px; }

/*------------------------------------*\
  #OVERRIDE
\*------------------------------------*/
.sy-pager li {
    width: 0.85em;
    height: 0.85em;
}
.lSSlideOuter .lSPager.lSGallery img {
    width: 100%;
}


/*------------------------------------*\
  #MEDIA QUERY
\*------------------------------------*/
/* Larger than tablet screen */
@media screen and (min-width: 769px) {
    .width200 { width: 200px; }
    .width-200 { width: calc(100% - 200px); }
    .herobanner-bar-social { margin: 0 2em; }
    .herobanner-bar-social dt { padding: 0 0.5em; }
    #gmap {
        height: 620px;
    }
}
@media screen and (min-width: 1088px) {
    .is-widescreen {
        max-width: 1024px;
        width: 1024px;
    }
    .vdo-youtube { padding: 20px 40px; }
}
